/* SVG shapes */

svg, svg * {
    vector-effect:  non-scaling-stroke !important;
    pointer-events: all !important;
}

/* Hover over */

.entity:hover {
    stroke:         #03A9F4 !important;
    stroke-width:   1px !important;
    stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
    fill: #3C763D !important;
}

.success-background, .success-text-background {
    fill:         #DFF0D8 !important;
    fill-opacity: 1 !important;
    stroke:       #D6E9C6 !important;
    stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
    fill: #31708F !important;
}

.info-background, .info-text-background {
    fill:         #D9EDF7 !important;
    fill-opacity: 1 !important;
    stroke:       #BCE8F1 !important;
    stroke-width: 1px !important;
}

/* Bootstrap warning */

.warning-text {
    fill: #8A6D3B !important;
}

.warning-background, .warning-text-background {
    fill:         #FCF8E3 !important;
    fill-opacity: 1 !important;
    stroke:       #FAEBCC !important;
    stroke-width: 1px !important;
}

/* Bootstrap danger */

.danger-text {
    fill: #A94442 !important;
}

.danger-background, .danger-text-background {
    fill:         #F2DEDE !important;
    fill-opacity: 1 !important;
    stroke:       #EBCCD1 !important;
    stroke-width: 1px !important;
}

/* Last motion entity */

.last-motion {
    stroke:         #808080 !important;
    stroke-width:   1px !important;
    stroke-opacity: 1 !important;
}

/* Alarm Panel */

.alarm-disarmed {
    fill: #3C763D !important;
}

.alarm-armed {
    fill: #8A6D3B !important;
}

/* Camera */

.camera-idle {
    /*  fill: #B9CEF7 !important; */
    fill: #6FAECE !important;
}

/* Light */

.light-off {
    fill: #C3B7F4 !important;
}

.remote-button-off {
    /*fill: #C3B7F4 !important;*/
    /*fill-opacity: 0.25 !important;*/
}

.light-on {
    /*fill: #F8D2B9 !important;*/
    fill: yellow !important;
}

.remote-button-on {
    /*fill: #F8D2B9 !important;*/
    /*fill: yellow !important;*/
    /*fill-opacity: 0.25 !important;*/
}

/* Doorbell */

.doorbell-off {
    fill: #C3B7F4 !important;
}

.doorbell-on {
    fill: #F8D2B9 !important;
}

/* Temperature sensor */

.temp-very-low-background {
    fill:         #D9EDF7 !important;
    fill-opacity: 1 !important;
}

.temp-below-average-background {
    fill:         #DCEFE8 !important;
    fill-opacity: 1 !important;
}

.temp-average-background {
    fill:         #DFF0D8 !important;
    fill-opacity: 1 !important;
}

.temp-very-high-background {
    fill:         #F2DEDE !important;
    fill-opacity: 1 !important;
}

/* Media player */

.squeezebox-off {
    fill: #8AA8A7 !important;
}

.squeezebox-on {
    fill: #2BAAA6 !important;
}
